
/* Shared Styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn{
    background-color: #FF42A5;
    border-radius: 3rem;
    border: none;
    padding: 1.2rem 2.5rem;
}
.text-description{
    color: #534C64;
font-size: 1rem;
font-weight: 400;
}
/* Header section Style */

/* Navber Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(163, 145, 145, 0.05);
    padding: 0 150px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo-title{
font-size: 45px;
font-weight: 700;
}
.logo-title span{
    color: #FF42A5;
}
.logo img{
    width: 86.041px;
height: 40px;
}
.manus ul{
    display: flex;
    align-items: center;
}
.manus li{
    list-style: none;
    
}
.manus a{
    text-decoration: none;
    margin-left: 1.5rem;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
.manus a:hover{
    background-color: bisque;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}
#manus-style{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.281);
    padding: 1rem 1.5rem;
}
/* play-like section in header */
.play-like-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding: 20px 150px;
}
.play-like-img img{
    width: 100%;
}

.play-like-content h4{
    color: #0B0223;
font-size: 3rem;
font-weight: 600;
padding: 0;
margin-bottom: 0;
}
.goat-text{
font-size: 5rem;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text; 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 0;
margin-top: 0;
margin-bottom: 5px;

}
.play-like-content p{
    color: #534C64;
font-size: 1.2rem;
font-weight: 500;
}
.btn-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
#btn-skyblue{
    background-color: #4EC5F7;
}
/* Gamer section style */
.gamer-container{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 40px 0;
    padding: 0 150px;
}
img{
    width: 100%;
}
.gamer-content{
    text-align: right;
    max-width: 500px;  
}
.gamer-content h3{
font-size: 3rem;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-content p{
    color: #534C64;
}
.gamer-text-style{
    color: #534C64;
font-size: 1.8rem;
font-weight: 700;
margin: 0;
}
/* online game section styles */
.online-game-heading{
    text-align: center;
    margin-bottom: 20px;
}
.online-game-heading h3{
    color: #0B0223;
font-size: 2.5rem;
font-weight: 700;
margin: 0;
}
.online-game-heading h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-game-img-container{
    display: flex;
    gap: 10px;
    padding: 0 150px;
}
.online-game-image{
    width: 100%;
}
/* play instantly section style*/
.play-instantly{
    margin-top: 50px;
    padding: 0 150px;
    display: flex;
    gap: 200px;
    align-items: center;
}

.play-instantly-image-2{
width: 50%;
}
.play-instantly-image-2{
    width: 40%;
    position: relative;
    top: -100px;
    left: -100px;
}
.play-instantly-content{
    max-width: 350px;
}
.play-instantly-content h3{
    font-size: 3rem;
    font-weight: 700;
}
.play-instantly-content h3 span{
    background: linear-gradient(180deg, #F948B2 100%, #8758F1 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Games Section Style */
.games-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 30px 150px;
}
.games-container .games p{
    color: #0B0223;
font-size: 1rem;
font-weight: 600;
}
.games{
    display: flex;
    align-items: center;
    gap: 5px;
}
.games img{
    width: 50%;
}

.games:hover{
    border-radius: 50px;
    border: 2px solid #FF42A5;
}
.games p:hover{
    color: #FF42A5;;
}
/* Footer section style */
footer{
    background-color: #0B0223;
    
}
.links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}
footer ul li{
    list-style: none;
}
.icon ul li i{
    font-size: 30px;
}
.links a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}
.icon{
    margin-top: 30px;
}
.icon ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-text{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
footer>p{
    text-align: center;
}
/* Moblie Responsive */
@media screen and (max-width:576px) {
    nav,.manus ul,.gamer-container,.online-game-img-container,.play-instantly{
        flex-direction: column;
    }
    .play-like-container{
        flex-direction: column-reverse;
    }
    nav,.play-like-container,.gamer-container,.online-game-img-container,.play-instantly,.games-container{
        padding: 10px 20px;
    }
    .manus ul{
        gap: 25px;
    }
    .manus a{
        margin: 0;
        padding: 0;
    }
    .gamer-content{
        text-align: center;
    }
    .online-game-heading h3{
    font-size: 1.7rem;
    }
    .online-game-heading{
        padding: 20px;
    }
    .online-game-heading p{
        font-size: 0.8rem;
    }
    .play-instantly{
        gap: 30px;
        margin-top: 20px;
    }
    .play-instantly-content{
        text-align: center;
    }
    .play-instantly-content h3{
        margin: 0;
    }
    .play-instantly-img{
        padding: 30px;
    }
    .play-instantly-image-2{
        top: -50px;
        left: -20px;
    }
    .games-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2px;
    }
    .games img{
        width: 30%;
    }
    .games-container .games p{
        color: #0B0223;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .games p:hover{
        color: #FF42A5;;
    }
    .links ul,.icon ul{
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .footer-text{
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        gap: 10px;
    }
    .footer-text .text-description{
        font-size: 10px;
    }

}
/*Tablet Responsive  */
@media screen and (min-width : 576px) and (max-width:992px) {
    nav,.play-like-container,.online-game-img-container,.play-instantly{
        flex-direction: column;
    }
    .gamer-container{
        flex-direction: column-reverse;
    }
    nav,.play-like-container,.gamer-container,.online-game-img-container,.games-container{
        padding: 10px 50px;
    }
    .gamer-content{
        text-align: center;
    }
    .online-game-img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .play-instantly{
        gap: 30px;
    }
    .links ul,.icon ul,.footer-text{
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .footer-text{
        padding-left: 40px;
    }
    
}